<div class="bg-login">
  <div class="h-80" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
    <div class="titulo-login" fxFlex.md="48" fxFlex="65" fxFlex.sm="100">
      <h1>
        <img src="assets/logos/Grayscale%20on%20Transparent.png">
        <div>
          <h2>Seja Bem Vindo à Administração Piratini Parts.</h2>
        </div>
      </h1>
    </div>
    <div fxFlex="28" fxFlex.md="48" fxFlex.sm="100" fxFlex.xs="100">
      <app-login [hoteleiro]="false"></app-login>
    </div>
  </div>
  <div class="fc-white" fxLayout="row wrap" fxLayoutAlign="center center">
    <h3 fxFlex="100" class="text-center">Criado e Desenvolvido por Willian Bello e Thiago Alves</h3>
    <p>Todos os direitos reservados</p>
  </div>
</div>
