<div class="bg-blue">
  <footer class="footer mb-30">
    <div fxLayout="row">
      <div fxFlex="70" fxFlex.xs="50">
        <div fxLayout="row wrap" fxLayoutAlign="space-around">
          <div fxFlex="auto" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <h2>Sobre nós</h2>
            <ul>
              <li><a routerLink="/inicio/coobrastur">A Piratini Parts</a></li>
              <li><a routerLink="/inicio/politicas-uso" routerLinkActive="router-link-active">Políticas de Uso</a></li>
              <li><a routerLink="/inicio/confianca-seguranca" routerLinkActive="router-link-active">Confiança e Segurança</a></li>
              <li><a routerLink="/inicio/trabalhe-conosco" routerLinkActive="router-link-active">Trabalhe Conosco</a></li>
            </ul>
          </div>
          <div fxFlex="auto" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <h2>Atendimento ao Usuário</h2>
            <ul>
              <li>
                <h3>Central de Atendimento</h3>
                <h3 class="phone"><mat-icon>phone</mat-icon> 0000 000 0000</h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div fxFlex="30" fxFlex.xs="50">
        <h2>Siga-nos</h2>
        <div fxLayout="row">
          <a href="https://www.facebook.com/coobrastur/">
            <mat-icon class="redes">facebook</mat-icon>
          </a>
          <a href="https://www.instagram.com/coobrastur/">
            <span class="fa fa-instagram redes"></span>
          </a>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="70" fxFlex.xs="50">
        <div fxLayout="row wrap" fxLayoutAlign="space-around">
          <div fxFlex="auto" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <h2>Parceiros</h2>
            <ul>
              <li><a routerLink="/inicio/coobrastur">
                <img src="assets/logos/parceiros/dell.png" class="img-fluid max-hw-100">
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="rodape mt-30">
    <div fxLayout="row wrap" class="w-90 m-auto">
      <div fxFlex="30" class="logo">
        <img src="assets/logos/Original%20on%20Transparent.png">
      </div>
      <div fxFlex="auto">
        <p>PIRATINI PARTS COMERCIO E IMPORTACAO DE PRODUTOS DE INFORMATICA LTDA. - Endereço: Rua Louvre, nº 46 - Jardim Sabara - Porto Alegre - Rio Grande do Sul - Brasil.</p>
        <p>PIRATINI PARTS © Copyright 2019.</p>
      </div>
    </div>
  </div>
</div>
